h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  color: #909090;
  font-weight: normal;
}

#main-card {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-button {
  align-self: end;
}