<div id='main-card' class='mat-elevation-z2'>

  <div class='header'>
    <div>
      <h2>MOTD</h2>
      <h4>Message of the day editor</h4>
    </div>

    <div class='header-button'>
      <button *ngIf="changed" mat-raised-button color="primary">Save</button>
    </div>

  </div>

  <div>
    <mat-checkbox [checked]="enabled" (change)="toggleMOTD($event)">MOTD is enabled</mat-checkbox>
    <div *ngIf="enabled">
      <mat-tab-group mat-stretch-tabs>

        <mat-tab [label]="getTabTitle(2)">
          <app-editor-guts (configChanged)="configChanged(2)" [EditorConfig]="configs[2]"></app-editor-guts>
        </mat-tab>

        <mat-tab [label]="getTabTitle(1)">
          <app-editor-guts (configChanged)="configChanged(1)" [EditorConfig]="configs[1]"></app-editor-guts>
        </mat-tab>

        <mat-tab [label]="getTabTitle(0)">
          <app-editor-guts (configChanged)="configChanged(0)" [EditorConfig]="configs[0]"></app-editor-guts>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</div>