<div id="editor-outer" class='editor-outer'>
  <mat-checkbox [checked]="EditorConfig.enabled">Enabled</mat-checkbox><br />
  <div class='message-container'>
    <div [ngStyle]="getMessageCSS()">
      {{ message }}
    </div>
  </div>

  <div class='form-zone'>

    <form [formGroup]="fgSettings">

      <mat-form-field class='cpc'>
        <mat-label>Background Color</mat-label>
        <input matInput type="text" placeholder="Background color" aria-label="Background color" formControlName="background" />
      </mat-form-field>

    </form>
  </div>
</div>