.editor-outer {
  // padding: 25px;
  margin-top: 15px;
  height: 400px;
  box-sizing: border-box;
}

.message-container {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  // border: solid 1px #c0c0c0;
  // border-radius: 5px;
}

.field-zone {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.field-item {
  align-self: center;
}

.text-field {
  width: 100px;
}

.message-view {
  box-sizing: border-box;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}